<h3>Seven Chord Construction</h3>

<div>
{{vexflow-staff class="notepick" bassNotes=bassNotes trebNotes=trebleNotes noteClicked=(action "noteClicked") hoverNote=hoverNote noteHover=(action 'noteHover') hoverLine=hoverLine }}
<button {{action "clearAll" }}>Clear All</button>
</div>

<h4>Construct {{quiz.chordRomanHtml}} in the key of {{quiz.scaleString}} on the {{quiz.staff}} staff.</h4>

<p>Right? {{right}}</p>

<button {{action "check" }}>Check</button>
<button {{action "next" }}>Next</button>

<h4>Recent Incorrect {{recentWrong.length}}</h4>
<ul>
{{#each recentWrong as |rcquiz|}}
<li>{{rcquiz.chordRomanHtml}} in {{rcquiz.scaleString}}, {{rcquiz.wrongReason}} </li>
{{/each}}
</ul>

<!--
<h4>Recent Correct {{recentCorrect.length}}</h4>
<ul>
{{#each recentCorrect as |rcquiz|}}
<li>{{rcquiz.chordRomanHtml}} in {{rcquiz.scaleString}} </li>
{{/each}}
</ul>
-->

<h4>Answer/Debugging Section</h4>

<ul>
<li>quiz type {{quiz.quizType}} </li>
<li>scale tonic {{quiz.scale.tonic}} </li>
<li>scale type {{quiz.scale.name}} {{quiz.scaleSimple}}</li>
<li>chord degree {{quiz.idx}}</li>
<li>chord bass {{quiz.chordBass}}</li>
<li>chord root {{quiz.chordRoot}}</li>
<li>chord notes 
{{#each quiz.chordNotes as |cn|}}
{{cn}} 
{{/each}}</li>
<li>chord {{quiz.chord.name}} </li>
<li>chord quality {{quiz.chordQuality}} </li>
<li>chord voicing {{quiz.chordVoicing}} </li>
<li>invsion: {{quiz.chord.inversion}}</li>
<li>staff: {{quiz.staff}}</li>
<li>answer: {{correctAnswer}}</li>
<li>user treble: {{#each trebleNotes as |n|}} {{n}} {{/each}}</li>
<li>user bass: {{#each bassNotes as |n|}} {{n}} {{/each}}</li>
<li>reason: {{quiz.wrongReason}}</li>
</ul>

{{yield}}
